<!DOCTYPE html>
<html ng-app="myModule">
<head>
<script src="scripts/angular.js"></script>
<script src="scripts/controller.js"></script>
<link href="css/styles.css" rel="stylesheet">
</head>
<body>
		<div ng-controller= "myController" >
			Order By : <select ng-model="sortColumn">
							<option value="name"> Name ASC</option>
							<option value="gender"> Gender ASC</option>
					        <option value="dateOfBirth">Date Of Birth ASC</option>
					        <option value="-salary"> salary DSC</option>		
						</select>
				<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Date of Birth</th>
						<th>Gender</th>
						<th>salary (number)</th>
						<th>salary</th>
					</tr>			
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees | orderBy:sortColumn">
						<td>{{employee.name | uppercase }}</td>
						<td>{{employee.dateOfBirth | date:"dd/MM/yyyy"}}</td>
						<td>{{employee.gender| lowercase}}</td>
						<td>{{employee.salary | number:2}}</td>
						<td>{{employee.salary | currency:"RS":1}}</td>
					</tr>
				</tbody>
			</table>
		</div>			
</body>
</html>